<ion-header>
  <ion-toolbar>
    <button ion-button clear navPop>
        <ion-icon name="arrow-round-back" style="zoom: 2.0;" ></ion-icon>
      </button>

    <ion-title>Profile</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="updateProfile()">
        <ion-icon name="checkmark" style="zoom: 1.5;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="masters">
	<ion-card class="main-card">
	  <form padding [formGroup]="currentUserForm">
	    <ion-list no-lines>
	      <div class="profile-photo">
	        <img [src]="currentUserForm.value.picture" *ngIf="currentUserForm.value.picture" />
	        <div class="profile-no-photo" *ngIf="!currentUserForm.value.picture">
	          <ion-icon name="image" style="zoom: 4.0;" color="light"></ion-icon>
	        </div>
	      </div>

	      <ion-item>
	        <ion-input
	          type="text"
	          placeholder="First Name"
	          formControlName="firstName">
	        </ion-input>
	      </ion-item>

	      <ion-item>
	        <ion-input
	          type="text"
	          placeholder="Last Name"
	          formControlName="lastName">
	        </ion-input>
	      </ion-item>

	      <p class="value-description">Enter your full name.</p>

	      <ion-item>
	        <ion-input
	          type="text"
	          placeholder="Your bio"
	          formControlName="bio">
	        </ion-input>
	      </ion-item>

	      <p class="value-description">Any details about yourself. <br> Example: I am a front-end developer from Germany</p>

	      <ion-item>
	        <ion-input
	          type="text"
	          placeholder="Username"
	          formControlName="username">
	        </ion-input>
	      </ion-item>

	      <p class="value-description">Create unique username</p>
	    </ion-list>
	  </form>
	</ion-card>
</ion-content>
