<ion-header no-border>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]='addPlacePage'>
        <ion-icon class="pin" name='pin'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Головна</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="masters">

  <ion-card class="main-card">
    <div *ngIf="homePage">
      <ion-card  class="card1">
        <ion-card class="card1">
          <div class="refresh">
            <ion-icon class="refresh-icon" (click)="updateData()" name="ios-refresh-circle"></ion-icon>
          </div>
          <div class="law">
            <ion-icon class="refresh-icon" (click)="openDialog()" name="bookmarks"></ion-icon>
          </div>
          <ion-card-content>
            <canvas #pieCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-card>

      <div>
        <img class="img" src="assets/imgs/авария.png" height="60" width="350">
      </div>

      <ion-card *ngFor="let place of places" class="adv-map">
        <div class="map-image">
          <img [src]="place.imageUrl">
        </div>
        <ion-item>
          <h2>{{place.title}}</h2>
          <p>{{place.description}}</p>
          <agm-map
              [latitude]="place.location.lat"
              [longitude]="place.location.lng"
              [zoom]="10">
              <agm-marker
                [latitude]="place.location.lat"
                [longitude]="place.location.lng">
              </agm-marker>
            </agm-map>
        </ion-item>
      </ion-card>

    </div>

    <page-chats *ngIf="chatsPage"></page-chats>
  </ion-card>


</ion-content>
