<ion-header no-border>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content class="masters">

  <ion-card class="main-card">  

<!--     <div class="login-container"> -->
      <img class="logo" src="assets/imgs/1080.png" />

      <form [formGroup]="signinForm">

      <ion-list no-lines>
        <ion-item>
          <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-list>

      <div>
        <ion-row>
          <ion-col width-50 style="text-align: center;">
            <button class="button-test" type="submit" ion-button round [disabled]="!signinForm.valid" (click)="onSignin()">
              <span *ngIf="!signinLoading">Sign In</span>
              <ion-spinner name="dots" color="light" *ngIf="signinLoading"></ion-spinner>
            </button>
          </ion-col>
        </ion-row>

        <ion-row justify-content-around>
          <button ion-button clear icon-only (click)="signinGoogle()">
            <ion-icon name="logo-google" color="secondary"></ion-icon>
          </button>

          <button ion-button clear icon-only (click)="signinFacebook()">
            <ion-icon name="logo-facebook" color="secondary"></ion-icon>
          </button>

          <button ion-button clear icon-only (click)="signinGithub()">
            <ion-icon name="logo-github" color="secondary"></ion-icon>
          </button>
        </ion-row>

        <p class="text-test">
          Don't have account? <a (click)="goSignupPage()">Sign Up</a>
        </p>

        <p class="text-test">
          Forgot password?
        </p>
      </div>
    </form>

 <!--    </div> -->
  </ion-card>
</ion-content>
