page-set-location {

	ion-header {

	  .toolbar-background {
	    background: #191970;
	    border: none !important;
	  }
	}

	agm-map {
		height: 300px;
	}

	.bg {
		background-color: #191970;
		margin-top: 50px;
	}

}
