<ion-header no-border>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToUsers()">
        <ion-icon class="people" name='people'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Чати</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="masters">

	<ion-card class="main-card">
	  <ion-searchbar
	    placeholder="Type to search friend name"
	    [(ngModel)]="searchValues"
	    (input)="search($event)">
	  </ion-searchbar>

	  <ion-row align-items-center justify-content-center *ngIf="friendsLoading">
	    <ion-spinner name="dots" style="zoom: 2.0" color="dark"></ion-spinner>
	  </ion-row>

	  <ion-list no-lines *ngIf="requests?.length > 0">
	    <h1 class="content-title">
	      Requests
	    </h1>

	    <ion-item class="chat" *ngFor="let user of requests">
	      <ion-avatar item-left>
	        <img [src]="user.picture" *ngIf="user.picture" />
	        <div class="user-no-photo" *ngIf="!user.picture">
	          {{ user.firstName.charAt(0) }}
	        </div>
	      </ion-avatar>

	      <h4>{{ user.firstName + ' ' + user.lastName }}</h4>

	      <ion-buttons item-right>
	        <button ion-button clear icon-only (click)="acceptRequest(user)">
	          <ion-icon name="add" color="dark"></ion-icon>
	        </button>

	        <button ion-button clear icon-only (click)="cancelRequest(user)">
	          <ion-icon name="close" color="dark"></ion-icon>
	        </button>
	      </ion-buttons>
	    </ion-item>
	  </ion-list>

	  <ion-list no-lines *ngIf="filteredFriends?.length > 0; else noFriends">
	    <h1 class="content-title">
	      Friends
	    </h1>

	    <ion-item-sliding #slidingItem *ngFor="let friend of filteredFriends">
	      <ion-item-options side="left">
	        <button
	          ion-button
	          color="danger"
	          (click)="deleteChat(slidingItem, friend)">
	          Delete
	        </button>
	      </ion-item-options>

	      <ion-item class="chat" (click)="selectChat(friend)">
	        <ion-avatar item-left>
	          <img [src]="friend.picture" *ngIf="friend.picture" />
	          <div class="user-no-photo" *ngIf="!friend.picture">
	            {{ friend.firstName.charAt(0) }}
	          </div>
	        </ion-avatar>

	        <h3>
	          {{ friend.firstName + ' ' + friend.lastName }}
	          <span>{{ friend.status }}</span>
	        </h3>

	        <p *ngIf="friend.lastMessage">{{ friend.lastMessage }}</p>
	        <p *ngIf="!friend.lastMessage">Tap to start message</p>
	      </ion-item>
	    </ion-item-sliding>
	  </ion-list>

	  <ng-template #noFriends>
	    <div class="no-items" *ngIf="!friendsLoading">
	      There are no friends.
	    </div>
	  </ng-template>
	</ion-card>
</ion-content>

