page-add-place {

	ion-header {

	  .toolbar-background {
	    background: #191970;
	    border: none !important;
	  }
	  .toolbar-title {
	    color: white;
	    text-align: center;
	  }

	  .back-button {
	  	color: white;
	  }
	}

	.bg {
		background-color: #191970;
	}

	ion-card {
		margin-top: 22px; 
		border-top-left-radius: 25px !important;
    	border-top-right-radius: 25px !important;
		margin-left: 0px !important;
		width: 100% !important;
	}	

	.main-card {
		margin-top: 22px;
	}

	img {
		height: 180px;
	}

}
