<ion-content padding>
  <div class="background">
    <div class="logo"></div>
  </div>

  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <ion-list no-lines>
    <ion-row class="multiple-col">
      <ion-col>
        <ion-item>
          <ion-input type="text" formControlName="firstName" placeholder="First Name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-input type="text" formControlName="lastName" placeholder="Last Name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>

    <div>
      <button class="button-test" type="submit" ion-button block [disabled]="!signupForm.valid">
        <span *ngIf="!signupLoading">Sign Up</span>
        <ion-spinner name="dots" color="light" *ngIf="signupLoading"></ion-spinner>
      </button>

      <p class="text-test">
        Already a member? <a (click)="goToSignin()">Sign In</a>
      </p>
    </div>
  </form>
</ion-content>
